port 1194
proto udp
dev tun
ca /usr/local/etc/openvpn/ssl/cacert.pem
cert /usr/local/etc/openvpn/ssl/openvpncert.pem
key /usr/local/etc/openvpn/ssl/private/openvpnkey.pem  # This file should be kept secret
dh /usr/local/etc/openvpn/ssl/private/openvpndh4096.pem
tls-auth /usr/local/etc/openvpn/ssl/private/tls-auth.pem 0 # This file is secret
topology subnet
server 10.8.0.0 255.255.255.0
ifconfig-pool-persist ipp.txt
client-to-client
keepalive 10 120
comp-lzo
user nobody
group nobody
persist-key
persist-tun
status openvpn-status.log
verb 3
push "dhcp-option DNS {{ vpn_dns_nameserver }}"
push "dhcp-option SEARCH {{ vpn_dns_search }}"
push "redirect-gateway def1 bypass-dhcp"
