local {{ ansible_default_ipv4.address }}
port 1194
proto udp
dev tun
cipher AES-128-GCM
auth SHA256
tls-version-min 1.2
tls-server
opt-verify
ca /usr/local/etc/openvpn/ssl/cacert.pem
cert /usr/local/etc/openvpn/ssl/openvpn.cert.pem
key /usr/local/etc/openvpn/ssl/private/openvpn.key.pem  # This file should be kept secret
dh /usr/local/etc/openvpn/ssl/private/openvpn.dh2048.pem
tls-crypt /usr/local/etc/openvpn/ssl/private/tls-crypt.pem # This file is secret
topology subnet
server {{ vpn_tun_subnet }}.0 255.255.255.0
ifconfig-pool-persist ipp.txt
client-to-client
keepalive 10 120
user openvpn
group openvpn
disable-dco
persist-key
persist-tun
status openvpn-status.log
verb 3
push "dhcp-option DNS {{ jail_bridge_subnet }}.{{ dns_ip }}"
push "dhcp-option DOMAIN {{ vpn_dns_search }}"
push "route {{ jail_bridge_subnet }}.0 255.255.255.0 {{ vpn_tun_subnet }}.1 0"
