local {{ ansible_default_ipv4.address }}
port 1194
proto udp
dev tun
cipher AES-256-CBC
auth SHA512
tls-version-min 1.2
ca /usr/local/etc/openvpn/ssl/ca.cert.pem
cert /usr/local/etc/openvpn/ssl/openvpn.cert.pem
key /usr/local/etc/openvpn/ssl/private/openvpn.key.pem  # This file should be kept secret
dh /usr/local/etc/openvpn/ssl/private/openvpn.dh2048.pem
tls-auth /usr/local/etc/openvpn/ssl/private/tls-auth.pem 0 # This file is secret
topology subnet
server {{ vpn_tun_subnet }}.0 255.255.255.0
ifconfig-pool-persist ipp.txt
client-to-client
keepalive 10 120
user nobody
group nobody
persist-key
persist-tun
status openvpn-status.log
verb 3
push "redirect-gateway def1"
push "dhcp-option DNS {{ jail_bridge_subnet }}.{{ dns_ip }}"
push "dhcp-option DOMAIN {{ vpn_dns_search }}"
push "route {{ jail_bridge_subnet }}.0 255.255.255.0 {{ vpn_tun_subnet }}.1 0"
