#########
## Macros
#########
ext_if="{{ ansible_default_ipv4.interface }}"
ext_ip="{{ ansible_default_ipv4.address }}"

#########
## Tables
#########
#table <spamd-white> persist

##########
## Options
##########
set require-order yes
set block-policy return
set optimization normal

########################
## Traffic normalization
########################
scrub in all random-id fragment reassemble
scrub out all random-id fragment reassemble

#######################
## Bandwidth management
#######################

##############
## Translation
##############
#Squid NAT out
nat pass on $ext_if from {{ jail_bridge_subnet }}.{{ squid_ip }} to any -> $ext_ip

#DNS NAT out
nat pass on $ext_if from {{ jail_bridge_subnet }}.{{ dns_ip }} to any port 53 -> $ext_ip

#OpenVPN Clients NAT out
nat pass on $ext_if from {{ vpn_tun_subnet }}.0/24 to any -> $ext_ip

##############
## Redirection
##############

#HTTP port forward in
rdr on $ext_if proto tcp from any to any port 80 -> {{ jail_bridge_subnet }}.{{ www_ip }}
rdr on $ext_if proto tcp from any to any port 443 -> {{ jail_bridge_subnet }}.{{ www_ip }}

#######################################
## Packet filtering
######################################
# Make sure all packets are clean and sane
antispoof quick for $ext_if

# block anything coming form source we have no back routes for
block drop in from no-route to any

# block packets whose ingress interface does not match the one
# the route back to their source address
block drop in from urpf-failed to any

# block and log outfoing packates that do not have our address source
# they are either spoofed or something is misconfigured (NAT disabled,
# for instance), we want to be nice and do not send out garbage
block out log quick on $ext_if from ! $ext_ip to any

# block and log incoming packets from reserved address space and invalid
# addresses,they are either spoofed or misconfigured, we cannot reply to
# them anyway (hence, no return-rst).
block drop in quick on $ext_if from { 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16, 255.255.255.255/32 } to any

#Default Deny
block drop in all
block drop in inet6 all

#Allow VPN traffic
pass in on tun0 all
pass out on tun0 all

#Allow loopback traffic
pass in on lo0 all
pass out on lo0 all

#Isolate inter-jail traffic
block drop in on lo0 from {{ jail_bridge_subnet }}.0/24 to {{ jail_bridge_subnet }}.0/24

#Whitelist
pass out keep state
pass in on $ext_if proto tcp from {{ vpn_tun_subnet }}.0/24 to any port ssh flags any
pass in on $ext_if proto tcp from any to any port http
pass in on $ext_if proto tcp from any to any port https
pass in on $ext_if proto udp from any to any port openvpn flags any
pass in on lo0 proto udp from {{ jail_bridge_subnet }}.0/24 to {{ jail_bridge_subnet }}.{{ dns_ip }} port domain
pass in on lo0 proto tcp from {{ jail_bridge_subnet }}.0/24 to {{ jail_bridge_subnet }}.{{ squid_ip }} port 3128
pass in on lo0 proto tcp from {{ jail_bridge_subnet }}.0/24 to {{ jail_bridge_subnet }}.0/24 port smtp

## DEBUG:
##  LOG Blocked Packets [uncomment above]:
##     block log all
##  VIEW LOG VIA:
##     tcpdump -n -e -ttt -i pflog0
