exec.start = "/bin/sh /etc/rc";
exec.stop = "/bin/sh /etc/rc.shutdown";
exec.clean = true;
mount.devfs = true;

squid {
  host.hostname="squid.local";
  ip4.addr="{{ jail_bridge_subnet }}.10";
  path="/jailhome/squid";
}

dns {
  host.hostname="dns.local";
  ip4.addr="{{ jail_bridge_subnet }}.11";
  path="/jailhome/dns";
}

ldap {
  host.hostname="ldap.local";
  ip4.addr="{{ jail_bridge_subnet }}.12";
  path="/jailhome/ldap";
}

krb {
  host.hostname="krb.local";
  ip4.addr="{{ jail_bridge_subnet }}.13";
  path="/jailhome/krb";
}

mail {
  host.hostname="mail.local";
  ip4.addr="{{ jail_bridge_subnet }}.14";
  path="/jailhome/mail";
}

www { 
  host.hostname="www.local";
  ip4.addr="{{ jail_bridge_subnet }}.15";
  path="/jailhome/www";
}
