exec.start = "/bin/sh /etc/rc";
exec.stop = "/bin/sh /etc/rc.shutdown";
exec.clean = true;
mount.devfs = true;

squid {
  host.hostname="squid.local";
  ip4.addr="{{ jail_bridge_subnet }}.10";
  path="/jailhome/squid";
}

dns {
  host.hostname="dns.local";
  ip4.addr="{{ jail_bridge_subnet }}.11";
  path="/jailhome/dns";
}

www { 
  host.hostname="www.local";
  ip4.addr="{{ jail_bridge_subnet }}.14";
  path="/jailhome/www";
}
