cloned_interfaces="bridge0"
ifconfig_bridge0="inet {{ jail_bridge_subnet }}.{{ master_ip }} netmask 255.255.255.0"
ifconfig_bridge0_alias1="inet {{ jail_bridge_subnet }}.{{ squid_ip }} netmask 255.255.255.255"
ifconfig_bridge0_alias2="inet {{ jail_bridge_subnet }}.{{ dns_ip }} netmask 255.255.255.255"
ifconfig_bridge0_alias3="inet {{ jail_bridge_subnet }}.{{ www_ip }} netmask 255.255.255.255"
ifconfig_bridge0_alias4="inet {{ jail_bridge_subnet }}.{{ cal_ip }} netmask 255.255.255.255"
ifconfig_bridge0_alias5="inet {{ jail_bridge_subnet }}.{{ ldap_ip }} netmask 255.255.255.255"
ifconfig_bridge0_alias6="inet {{ jail_bridge_subnet }}.{{ mail_ip }} netmask 255.255.255.255"
