cloned_interfaces="bridge0"
ifconfig_bridge0="inet {{ jail_bridge_subnet }}.9 netmask 255.255.255.0"
ifconfig_bridge0_alias1="inet {{ jail_bridge_subnet }}.10 netmask 255.255.255.255"
ifconfig_bridge0_alias2="inet {{ jail_bridge_subnet }}.11 netmask 255.255.255.255"
ifconfig_bridge0_alias3="inet {{ jail_bridge_subnet }}.12 netmask 255.255.255.255"
ifconfig_bridge0_alias4="inet {{ jail_bridge_subnet }}.13 netmask 255.255.255.255"
ifconfig_bridge0_alias5="inet {{ jail_bridge_subnet }}.14 netmask 255.255.255.255"
ifconfig_bridge0_alias6="inet {{ jail_bridge_subnet }}.15 netmask 255.255.255.255"
ifconfig_bridge0_alias7="inet {{ jail_bridge_subnet }}.17 netmask 255.255.255.255"
ifconfig_bridge0_alias8="inet {{ jail_bridge_subnet }}.18 netmask 255.255.255.255"
ifconfig_bridge0_alias9="inet {{ jail_bridge_subnet }}.19 netmask 255.255.255.255"
ifconfig_bridge0_alias10="inet {{ jail_bridge_subnet }}.20 netmask 255.255.255.255"
ifconfig_bridge0_alias11="inet {{ jail_bridge_subnet }}.21 netmask 255.255.255.255"
ifconfig_bridge0_alias12="inet {{ jail_bridge_subnet }}.22 netmask 255.255.255.255"
ifconfig_bridge0_alias13="inet {{ jail_bridge_subnet }}.23 netmask 255.255.255.255"
ifconfig_bridge0_alias14="inet {{ jail_bridge_subnet }}.24 netmask 255.255.255.255"
ifconfig_bridge0_alias15="inet {{ jail_bridge_subnet }}.25 netmask 255.255.255.255"
ifconfig_bridge0_alias16="inet {{ jail_bridge_subnet }}.26 netmask 255.255.255.255"
ifconfig_bridge0_alias17="inet {{ jail_bridge_subnet }}.27 netmask 255.255.255.255"
ifconfig_bridge0_alias18="inet {{ jail_bridge_subnet }}.28 netmask 255.255.255.255"
ifconfig_bridge0_alias19="inet {{ jail_bridge_subnet }}.29 netmask 255.255.255.255"
ifconfig_bridge0_alias20="inet {{ jail_bridge_subnet }}.30 netmask 255.255.255.255"
