weekly_locate_enable="NO"
weekly_whatis_enable="NO"
weekly_catman_enable="NO"
daily_clean_hoststat_enable="NO"
daily_status_mail_rejects_enable="NO"
daily_status_include_submit_mailq="NO"
daily_submit_queuerun="NO"
daily_ntpd_leapfile_enable="NO"
