freebsd_release: 13.1
vpn_tun_subnet: 10.8.0
vpn_dns_search: local
ntp_pool: au.pool.ntp.org
jail_bridge_subnet: 192.168.254
slapd_rootpw: secret #use slappasswd(8) to generate a proper password!
external_domain: example.com
jails:
 - squid
 - dns
 - www
 - cal
 - ldap
 - mail
master_ip: 9
squid_ip: 10
dns_ip: 11
www_ip: 12
cal_ip: 13
ldap_ip: 14
mail_ip: 15
ssh_keys:
 - ssh-rsa exampleSSHpubkey
repos:
 - ansible-freebsdvps
