freebsd_release: 11.0
vpn_tun_subnet: 10.8.0
vpn_dns_search: local
ntp_pool: au.pool.ntp.org
jail_bridge_subnet: 192.168.254
slapd_rootpw: secret #use slappasswd(8) to generate a proper password!
external_domain: example.com
dns_upstream_primary: 208.67.222.222
dns_upstream_secondary: 208.67.220.220
jails:
 - squid
 - dns
 - www
 - cal
 - ldap
master_ip: 9
squid_ip: 10
dns_ip: 11
www_ip: 12
cal_ip: 13
ldap_ip: 14
mail_ip: 15
ssh_keys:
 - ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA4oU3wv4audikXJRPX3smotYThiznF4MG4APGY4alWcaEfTstkQozKE956qLtbkVA3VXf7OWkVkb75bb9RgNlu9DFrf3vn30O++4Dy9Q8de+Rwc3h068/XlDMolmXzcBm6jcdE+N1F+Ec+nc6Op/6GKL54kZYoXLd3V8roW4kO2vbPHi+NLjgw92aiXHUrrUfqETHh5h+3HoIZN+kZeZuIayj2KAIJZ+d+PzIzOzzc4P1UflZkrkiewq0vrla7uDLldB0yC4gLS5p83aom55NcknrC05GQOHNVTY26nf3pIPstnrXEEfeopg9t0awtAJckchO6ZKVtwfH+XWOBXu7lQ== sina@sina-laptop
 - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDcmXsrFbKlYHBW6ZRNepqzeALXmAuSb70CHvMJK2eHBGsEfICJkW7oNTahWGYo6LnToXkLq2xmii+qYuuNONt6sjqvuAQmZ6ZQa9zslNwnNlXD9c9BCGddLUL5Qb7TKbqwUb6xdFvQNr+dGAxGTSeUoNLSTSQezJredPqmasiT/Z+LKQpREBRq7WZFTG5AsU7iu1M9jTTRLEZsMOIIfzORTX55uaQFL/2Qu7Uzb62upFEqznv+JqIg0RY0aKQydAy6U4uty08luUuR64gvLNn8y4WHPUb3XahcXNJbjXfO7hDOSRiKyyP67jqOgwJirj4XCkt78JFx2JCJj+ugKph7 sina@sina-laptop
