$TTL 3600 ;1h TTL
@    IN      SOA      dns.local. admin.local. (
                                2015012501      ; Serial
                                10800           ; Refresh
                                3600            ; Retry
                                604800          ; Expire
                                300             ; Negative Response TTL
                        )
 
254.168.192.in-addr.arpa.                IN      NS      dns.local.
 
9		 IN      PTR     master.local.
10               IN      PTR     squid.local.
11               IN      PTR     dns.local.
12               IN      PTR     ldap.local.
13               IN      PTR     krb.local.
