$TTL 3600        ; 1 hour default TTL
@    IN      SOA      dns.local. admin.local. (
                                2015012501      ; Serial
                                10800           ; Refresh
                                3600            ; Retry
                                604800          ; Expire
                                300             ; Negative Response TTL
                        )

; DNS Servers
                IN      NS      dns.local.

; MX Records
                IN      MX 10   master.local.
;                IN      MX 20   mail.local.

; Machine Names
master      IN  A   {{ jail_bridge_subnet }}.{{ master_ip }}
squid       IN  A   {{ jail_bridge_subnet }}.{{ squid_ip }}
dns         IN  A   {{ jail_bridge_subnet }}.{{ dns_ip }}
www         IN  A   {{ jail_bridge_subnet }}.{{ www_ip }}
cal         IN  A   {{ jail_bridge_subnet }}.{{ cal_ip }}
