$TTL 3600        ; 1 hour default TTL
@    IN      SOA      dns.local. admin.local. (
                                2015012501      ; Serial
                                10800           ; Refresh
                                3600            ; Retry
                                604800          ; Expire
                                300             ; Negative Response TTL
                        )

; DNS Servers
                IN      NS      dns.local.

; MX Records
                IN      MX 10   master.local.
;                IN      MX 20   mail.local.

; Machine Names
master		IN	A	{{ jail_bridge_subnet }}.9
squid		IN	A	{{ jail_bridge_subnet }}.10
dns             IN      A       {{ jail_bridge_subnet }}.11
www		IN      A	{{ jail_bridge_subnet }}.15
