$TTL 3600        ; 1 hour default TTL
@    IN      SOA      master.local. admin.local. (
                                2015012501      ; Serial
                                10800           ; Refresh
                                3600            ; Retry
                                604800          ; Expire
                                300             ; Negative Response TTL
                        )

; DNS Servers
                IN      NS      master.local.

; MX Records
;                IN      MX 10   mx.local.
;                IN      MX 20   mail.local.

; Machine Names
master		IN      A	10.8.0.1

; Aliases
;www             IN      CNAME   local.

; SRV records
_kerberos._udp      IN  SRV     01 00 88 master.local.
_kerberos._tcp      IN  SRV     01 00 88 master.local.
_kpasswd._udp       IN  SRV     01 00 464 master.local.
_kerberos-adm._tcp  IN  SRV     01 00 749 master.local.
_kerberos           IN  TXT     LOCAL
