$TTL 3600 ;1h TTL
@    IN      SOA      dns.local. admin.local. (
                                2015012501      ; Serial
                                10800           ; Refresh
                                3600            ; Retry
                                604800          ; Expire
                                300             ; Negative Response TTL
                        )

{{ jail_bridge_subnet.split(".")[2] }}.{{ jail_bridge_subnet.split(".")[1] }}.{{ jail_bridge_subnet.split(".")[0] }}.in-addr.arpa.      IN  NS  dns.local.

{{ master_ip }}     IN  PTR master.local.
{{ squid_ip }}      IN  PTR squid.local.
{{ dns_ip }}        IN  PTR dns.local.
{{ www_ip }}        IN  PTR www.local.
{{ cal_ip }}        IN  PTR cal.local.
{{ ldap_ip }}       IN  PTR ldap.local.
{{ mail_ip }}       IN  PTR mail.local.
