include		/usr/local/etc/openldap/schema/core.schema
include		/usr/local/etc/openldap/schema/cosine.schema
include		/usr/local/etc/openldap/schema/inetorgperson.schema
pidfile		/var/run/openldap/slapd.pid
argsfile	/var/run/openldap/slapd.args
modulepath	/usr/local/libexec/openldap
moduleload	back_mdb
database	mdb
maxsize		1073741824
suffix		"dc=local"
rootdn		"cn=admin,dc=local"
rootpw		secret
directory	/var/db/openldap-data
index	objectClass	eq
authz-regexp uid=([^,]*),cn=local,cn=gssapi,cn=auth uid=$1,ou=people,dc=local
sasl-realm	LOCAL
sasl-host	ldap.local
access to *
      by self write
      by users read
      by anonymous auth
